* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000; 
}

body, a {
    font-family: 'Roboto', sans-serif;
}

#section-wrapper {
    width: 100%;
    padding: 10px;
}

.box-wrapper {
    position: relative;
    display: table;
    width: 1100px; /* Consider changing this to a max-width for better responsiveness */
    max-width: 100%; /* Ensures it doesn't exceed screen width */
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}

.info-wrap {
    width: 35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(255, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 49%);
    color: #333;
}

.info-title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.info-details {
    list-style: none;
    margin: 60px 0px;
}

.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #b38b00;
}

.info-details li i {
    background: #333;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.info-details li a {
    color: #333;
    text-decoration: none;
}

.info-details li a:hover {
    color: #b38b00;
}

.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li i {
    background: #b38b00;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}

.social-icons li i:hover {
    background: #333;
    color: #b38b00;
}

.form-wrap {
    width: 65%;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #333;
}

/* Responsive css */

@media only screen and (max-width: 1024px) {
    .box-wrapper {
        width: 90%;
    }

    .info-wrap,
    .form-wrap {
        width: 100%;
        height: auto;
        float: none;
    }

    .info-wrap {
        border-radius: 30px 30px 0px 0px;
    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px;
    }
}

@media only screen and (max-width: 767px) {
    .info-wrap,
    .form-wrap {
        width: 100%;
        height: inherit;
        float: none;  
    }
}
@media only screen and (max-width: 414px) {
    .info-wrap {
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 375px) {
    .info-wrap {
    padding: 20px 10px;
  }
}
